# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
/.idea
/.project
/.classpath
/.cproject
/.settings
/.vscode
/*.suo
/*.ntvs*
/*.njsproj
/*.sln
/*.sw?

# Angular
/.angular

# Operating System files
.DS_Store
Thumbs.db
